.footer {
	position: relative;
	z-index: 3;
	padding: 40px 140px;

	@media (max-width: 766px) {
		padding: 20px 0;
	}

	a {
		text-decoration: none;
		font-size: 16px;
		color: #8d97ad;

		&:hover {
			color: $btn-primary-color;
		}
	}
}

.social-medias {
	display: grid;
	place-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: #f5f7fa;
	margin-right: 15px;

	&:hover {
		color: $btn-primary-color;
	}
}
