$btn-font-size-sm: 14px;
$active-color: #29af8a;
$text-dim-color: #8d97ad;
$text-light-color: #ffffff;
$bg-color: #f5f7fa;
$btn-socondary-color: #e2536b;
$btn-primary-color: #29af8a;
$box-shadow-color: rgba(0, 0, 0, 0.6);
